@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Lato%3Aital%2Cwght%400%2C400%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-FEyuLz6wet8h: 1px;
  --plasmic-token-unnamed-style-token: var(--token-FEyuLz6wet8h);
  --token-Q1GP_eOrdrIu: 12px;
  --plasmic-token-unnamed-style-token-2: var(--token-Q1GP_eOrdrIu);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-U67BkmK-PH6X_font-family: "Inter", sans-serif;
  --mixin-U67BkmK-PH6X_font-size: 16px;
  --mixin-U67BkmK-PH6X_font-weight: 400;
  --mixin-U67BkmK-PH6X_font-style: normal;
  --mixin-U67BkmK-PH6X_color: #535353;
  --mixin-U67BkmK-PH6X_text-align: left;
  --mixin-U67BkmK-PH6X_text-transform: none;
  --mixin-U67BkmK-PH6X_line-height: 1.5;
  --mixin-U67BkmK-PH6X_letter-spacing: normal;
  --mixin-U67BkmK-PH6X_white-space: pre-wrap;
  --mixin-U67BkmK-PH6X_user-select: text;
  --mixin-U67BkmK-PH6X_text-decoration-line: none;
  --mixin-U67BkmK-PH6X_text-overflow: clip;
  --mixin-932LzM2h_UmP_color: #000000;
  --mixin-932LzM2h_UmP_font-weight: 700;
  --mixin-932LzM2h_UmP_font-size: 64px;
  --mixin-932LzM2h_UmP_line-height: 1;
  --mixin-932LzM2h_UmP_letter-spacing: -1px;
  --mixin-932LzM2h_UmP_white-space: pre-wrap;
  --mixin-c-u2YM-o85u6_color: #000000;
  --mixin-c-u2YM-o85u6_font-size: 48px;
  --mixin-c-u2YM-o85u6_font-weight: 700;
  --mixin-c-u2YM-o85u6_letter-spacing: -0.5px;
  --mixin-c-u2YM-o85u6_line-height: 1.1;
  --mixin-c-u2YM-o85u6_white-space: pre-wrap;
  --mixin-oVxFi5biFccw_color: #0070f3;
  --mixin-oVxFi5biFccw_white-space: pre-wrap;
  --mixin-BNWa2070ttbk_color: #000000;
  --mixin-BNWa2070ttbk_font-size: 32px;
  --mixin-BNWa2070ttbk_font-weight: 600;
  --mixin-BNWa2070ttbk_line-height: 1.2;
  --mixin-BNWa2070ttbk_white-space: pre-wrap;
  --mixin-ttBkC30dQFG4_color: #000000;
  --mixin-ttBkC30dQFG4_font-size: 24px;
  --mixin-ttBkC30dQFG4_font-weight: 600;
  --mixin-ttBkC30dQFG4_line-height: 1.3;
  --mixin-ttBkC30dQFG4_white-space: pre-wrap;
  --mixin-2ijHwxMEsOJk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2ijHwxMEsOJk_border-bottom-color: #dddddd;
  --mixin-2ijHwxMEsOJk_border-bottom-style: solid;
  --mixin-2ijHwxMEsOJk_border-bottom-width: 1px;
  --mixin-2ijHwxMEsOJk_border-left-color: #dddddd;
  --mixin-2ijHwxMEsOJk_border-left-style: solid;
  --mixin-2ijHwxMEsOJk_border-left-width: 1px;
  --mixin-2ijHwxMEsOJk_border-right-color: #dddddd;
  --mixin-2ijHwxMEsOJk_border-right-style: solid;
  --mixin-2ijHwxMEsOJk_border-right-width: 1px;
  --mixin-2ijHwxMEsOJk_border-top-color: #dddddd;
  --mixin-2ijHwxMEsOJk_border-top-style: solid;
  --mixin-2ijHwxMEsOJk_border-top-width: 1px;
  --mixin-2ijHwxMEsOJk_border-bottom-left-radius: 3px;
  --mixin-2ijHwxMEsOJk_border-bottom-right-radius: 3px;
  --mixin-2ijHwxMEsOJk_border-top-left-radius: 3px;
  --mixin-2ijHwxMEsOJk_border-top-right-radius: 3px;
  --mixin-2ijHwxMEsOJk_font-family: "Inconsolata";
  --mixin-2ijHwxMEsOJk_padding-bottom: 1px;
  --mixin-2ijHwxMEsOJk_padding-left: 4px;
  --mixin-2ijHwxMEsOJk_padding-right: 4px;
  --mixin-2ijHwxMEsOJk_padding-top: 1px;
  --mixin-2ijHwxMEsOJk_white-space: pre-wrap;
  --mixin-txWK2Aeh_s_8_border-left-color: #dddddd;
  --mixin-txWK2Aeh_s_8_border-left-style: solid;
  --mixin-txWK2Aeh_s_8_border-left-width: 3px;
  --mixin-txWK2Aeh_s_8_color: #888888;
  --mixin-txWK2Aeh_s_8_padding-left: 10px;
  --mixin-txWK2Aeh_s_8_white-space: pre-wrap;
  --mixin-ilGFHSfLw3Z4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ilGFHSfLw3Z4_border-bottom-color: #dddddd;
  --mixin-ilGFHSfLw3Z4_border-bottom-style: solid;
  --mixin-ilGFHSfLw3Z4_border-bottom-width: 1px;
  --mixin-ilGFHSfLw3Z4_border-left-color: #dddddd;
  --mixin-ilGFHSfLw3Z4_border-left-style: solid;
  --mixin-ilGFHSfLw3Z4_border-left-width: 1px;
  --mixin-ilGFHSfLw3Z4_border-right-color: #dddddd;
  --mixin-ilGFHSfLw3Z4_border-right-style: solid;
  --mixin-ilGFHSfLw3Z4_border-right-width: 1px;
  --mixin-ilGFHSfLw3Z4_border-top-color: #dddddd;
  --mixin-ilGFHSfLw3Z4_border-top-style: solid;
  --mixin-ilGFHSfLw3Z4_border-top-width: 1px;
  --mixin-ilGFHSfLw3Z4_border-bottom-left-radius: 3px;
  --mixin-ilGFHSfLw3Z4_border-bottom-right-radius: 3px;
  --mixin-ilGFHSfLw3Z4_border-top-left-radius: 3px;
  --mixin-ilGFHSfLw3Z4_border-top-right-radius: 3px;
  --mixin-ilGFHSfLw3Z4_font-family: "Inconsolata";
  --mixin-ilGFHSfLw3Z4_padding-bottom: 3px;
  --mixin-ilGFHSfLw3Z4_padding-left: 6px;
  --mixin-ilGFHSfLw3Z4_padding-right: 6px;
  --mixin-ilGFHSfLw3Z4_padding-top: 3px;
  --mixin-ilGFHSfLw3Z4_white-space: pre-wrap;
  --mixin-Rc2_GJAqu9Km_display: flex;
  --mixin-Rc2_GJAqu9Km_flex-direction: column;
  --mixin-Rc2_GJAqu9Km_align-items: stretch;
  --mixin-Rc2_GJAqu9Km_justify-content: flex-start;
  --mixin-Rc2_GJAqu9Km_list-style-position: outside;
  --mixin-Rc2_GJAqu9Km_padding-left: 40px;
  --mixin-Rc2_GJAqu9Km_position: relative;
  --mixin-Rc2_GJAqu9Km_list-style-type: disc;
  --mixin-Rc2_GJAqu9Km_white-space: pre-wrap;
  --mixin-xa94-piCRfH4_display: flex;
  --mixin-xa94-piCRfH4_flex-direction: column;
  --mixin-xa94-piCRfH4_align-items: stretch;
  --mixin-xa94-piCRfH4_justify-content: flex-start;
  --mixin-xa94-piCRfH4_list-style-position: outside;
  --mixin-xa94-piCRfH4_padding-left: 40px;
  --mixin-xa94-piCRfH4_position: relative;
  --mixin-xa94-piCRfH4_list-style-type: decimal;
  --mixin-xa94-piCRfH4_white-space: pre-wrap;
  --mixin-Vqf-blDa-UXN_color: #000000;
  --mixin-Vqf-blDa-UXN_font-size: 20px;
  --mixin-Vqf-blDa-UXN_font-weight: 600;
  --mixin-Vqf-blDa-UXN_line-height: 1.5;
  --mixin-Vqf-blDa-UXN_white-space: pre-wrap;
  --mixin-RNfBh5DO33pW_color: #000000;
  --mixin-RNfBh5DO33pW_font-size: 16px;
  --mixin-RNfBh5DO33pW_font-weight: 600;
  --mixin-RNfBh5DO33pW_line-height: 1.5;
  --mixin-RNfBh5DO33pW_white-space: pre-wrap;
  --mixin-o6W6bPDqJvyp_color: #3291ff;
  --mixin-o6W6bPDqJvyp_white-space: pre-wrap;
  --mixin-tOoPJNHNyZrE_white-space: pre-wrap;
  --mixin-VDPJs-Qkkl2l_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-U67BkmK-PH6X_font-family);
  font-size: var(--mixin-U67BkmK-PH6X_font-size);
  font-weight: var(--mixin-U67BkmK-PH6X_font-weight);
  font-style: var(--mixin-U67BkmK-PH6X_font-style);
  color: var(--mixin-U67BkmK-PH6X_color);
  text-align: var(--mixin-U67BkmK-PH6X_text-align);
  text-transform: var(--mixin-U67BkmK-PH6X_text-transform);
  line-height: var(--mixin-U67BkmK-PH6X_line-height);
  letter-spacing: var(--mixin-U67BkmK-PH6X_letter-spacing);
  white-space: var(--mixin-U67BkmK-PH6X_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-932LzM2h_UmP_color);
  font-weight: var(--mixin-932LzM2h_UmP_font-weight);
  font-size: var(--mixin-932LzM2h_UmP_font-size);
  line-height: var(--mixin-932LzM2h_UmP_line-height);
  letter-spacing: var(--mixin-932LzM2h_UmP_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-c-u2YM-o85u6_color);
  font-size: var(--mixin-c-u2YM-o85u6_font-size);
  font-weight: var(--mixin-c-u2YM-o85u6_font-weight);
  letter-spacing: var(--mixin-c-u2YM-o85u6_letter-spacing);
  line-height: var(--mixin-c-u2YM-o85u6_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-oVxFi5biFccw_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-BNWa2070ttbk_color);
  font-size: var(--mixin-BNWa2070ttbk_font-size);
  font-weight: var(--mixin-BNWa2070ttbk_font-weight);
  line-height: var(--mixin-BNWa2070ttbk_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ttBkC30dQFG4_color);
  font-size: var(--mixin-ttBkC30dQFG4_font-size);
  font-weight: var(--mixin-ttBkC30dQFG4_font-weight);
  line-height: var(--mixin-ttBkC30dQFG4_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2ijHwxMEsOJk_font-family);
  border-radius: var(--mixin-2ijHwxMEsOJk_border-top-left-radius)
    var(--mixin-2ijHwxMEsOJk_border-top-right-radius)
    var(--mixin-2ijHwxMEsOJk_border-bottom-right-radius)
    var(--mixin-2ijHwxMEsOJk_border-bottom-left-radius);
  padding: var(--mixin-2ijHwxMEsOJk_padding-top)
    var(--mixin-2ijHwxMEsOJk_padding-right)
    var(--mixin-2ijHwxMEsOJk_padding-bottom)
    var(--mixin-2ijHwxMEsOJk_padding-left);
  border-top: var(--mixin-2ijHwxMEsOJk_border-top-width)
    var(--mixin-2ijHwxMEsOJk_border-top-style)
    var(--mixin-2ijHwxMEsOJk_border-top-color);
  border-right: var(--mixin-2ijHwxMEsOJk_border-right-width)
    var(--mixin-2ijHwxMEsOJk_border-right-style)
    var(--mixin-2ijHwxMEsOJk_border-right-color);
  border-bottom: var(--mixin-2ijHwxMEsOJk_border-bottom-width)
    var(--mixin-2ijHwxMEsOJk_border-bottom-style)
    var(--mixin-2ijHwxMEsOJk_border-bottom-color);
  border-left: var(--mixin-2ijHwxMEsOJk_border-left-width)
    var(--mixin-2ijHwxMEsOJk_border-left-style)
    var(--mixin-2ijHwxMEsOJk_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-txWK2Aeh_s_8_color);
  padding-left: var(--mixin-txWK2Aeh_s_8_padding-left);
  border-left: var(--mixin-txWK2Aeh_s_8_border-left-width)
    var(--mixin-txWK2Aeh_s_8_border-left-style)
    var(--mixin-txWK2Aeh_s_8_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ilGFHSfLw3Z4_font-family);
  border-radius: var(--mixin-ilGFHSfLw3Z4_border-top-left-radius)
    var(--mixin-ilGFHSfLw3Z4_border-top-right-radius)
    var(--mixin-ilGFHSfLw3Z4_border-bottom-right-radius)
    var(--mixin-ilGFHSfLw3Z4_border-bottom-left-radius);
  padding: var(--mixin-ilGFHSfLw3Z4_padding-top)
    var(--mixin-ilGFHSfLw3Z4_padding-right)
    var(--mixin-ilGFHSfLw3Z4_padding-bottom)
    var(--mixin-ilGFHSfLw3Z4_padding-left);
  border-top: var(--mixin-ilGFHSfLw3Z4_border-top-width)
    var(--mixin-ilGFHSfLw3Z4_border-top-style)
    var(--mixin-ilGFHSfLw3Z4_border-top-color);
  border-right: var(--mixin-ilGFHSfLw3Z4_border-right-width)
    var(--mixin-ilGFHSfLw3Z4_border-right-style)
    var(--mixin-ilGFHSfLw3Z4_border-right-color);
  border-bottom: var(--mixin-ilGFHSfLw3Z4_border-bottom-width)
    var(--mixin-ilGFHSfLw3Z4_border-bottom-style)
    var(--mixin-ilGFHSfLw3Z4_border-bottom-color);
  border-left: var(--mixin-ilGFHSfLw3Z4_border-left-width)
    var(--mixin-ilGFHSfLw3Z4_border-left-style)
    var(--mixin-ilGFHSfLw3Z4_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Rc2_GJAqu9Km_display);
  flex-direction: var(--mixin-Rc2_GJAqu9Km_flex-direction);
  align-items: var(--mixin-Rc2_GJAqu9Km_align-items);
  justify-content: var(--mixin-Rc2_GJAqu9Km_justify-content);
  list-style-position: var(--mixin-Rc2_GJAqu9Km_list-style-position);
  padding-left: var(--mixin-Rc2_GJAqu9Km_padding-left);
  position: var(--mixin-Rc2_GJAqu9Km_position);
  list-style-type: var(--mixin-Rc2_GJAqu9Km_list-style-type);
  flex-column-gap: var(--mixin-Rc2_GJAqu9Km_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-xa94-piCRfH4_display);
  flex-direction: var(--mixin-xa94-piCRfH4_flex-direction);
  align-items: var(--mixin-xa94-piCRfH4_align-items);
  justify-content: var(--mixin-xa94-piCRfH4_justify-content);
  list-style-position: var(--mixin-xa94-piCRfH4_list-style-position);
  padding-left: var(--mixin-xa94-piCRfH4_padding-left);
  position: var(--mixin-xa94-piCRfH4_position);
  list-style-type: var(--mixin-xa94-piCRfH4_list-style-type);
  flex-column-gap: var(--mixin-xa94-piCRfH4_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Vqf-blDa-UXN_color);
  font-size: var(--mixin-Vqf-blDa-UXN_font-size);
  font-weight: var(--mixin-Vqf-blDa-UXN_font-weight);
  line-height: var(--mixin-Vqf-blDa-UXN_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-RNfBh5DO33pW_color);
  font-size: var(--mixin-RNfBh5DO33pW_font-size);
  font-weight: var(--mixin-RNfBh5DO33pW_font-weight);
  line-height: var(--mixin-RNfBh5DO33pW_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-o6W6bPDqJvyp_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
